body {
    margin: 0;
    padding: 0;

    background: #F7F5DC;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

ul > li:before {
    content: "-";
    margin: 10px;
    font-size: 28px;
}

.container {
    max-width: 900px;
    height: 1000px;
    margin: auto;
    margin-top: 10px;
    background: white;
}

@media screen and (max-width: 800px) {
    .container {
        margin: 10px;
    }
}


.task-li {
    padding: 15px;
}

.task-list {
    padding: 0;
    list-style-type: none;
}

.task:focus {
    outline: none;
}

.task {
    border: none;
    width: 90%;
}
